/*Log in*/
.hidden {
  display: none;
}

.login {
  margin-top: 5%;
  margin-left: 5%;
  width: 80%;
  height: 12%;
  border-radius: 20px;
  background-color: rgba(66, 66, 60, 0.377);
  backdrop-filter: blur(10px);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.178);
  display: flex;
  padding: 2%;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.login form {
  padding: 0 5%;
  width: 100%;
}

#login-form input {
  text-align: center;
  padding-bottom: 5%;
  width: 70%;
  font-size: 20%;
  margin-right: 2%;
  font-family: "Lobster", cursive;
  font-size: 140%;
}

#login-form input::placeholder {
  color: whitesmoke;
}

#greeting {
  font-family: "Lobster", cursive;
  font-size: 270%;
}

#login-form button {
  font-family: "Lobster", cursive;
  font-size: 160%;
  color: whitesmoke;
  padding: 0;
}

#login-form button:focus {
  color: rgb(7, 7, 37);
}

#login-form input:hover,
#login-form input:focus {
  outline: none;
}
