/*Quote*/
#quote {
  margin: 3%;
  display: flex;
  flex-direction: column;
  width: 35vw;
}
.quote,
.author {
  width: 100%;
  color: white;
  font-size: 20px;
  margin-bottom: 3%;
  text-align: end;
  font-size: 130%;
  color: black;
  ont-family: "Oswald", sans-serif;
  font-weight: 900;
  text-shadow: rgb(255, 255, 255) 3px 0 10px;
}
