.todo {
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 80%;
  height: 50%;
  border-radius: 20px;
  background-color: rgba(66, 66, 60, 0.377);
  backdrop-filter: blur(10px);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.178);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
