.todo {
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 80%;
  height: 50%;
  border-radius: 20px;
  background-color: rgba(66, 66, 60, 0.377);
  backdrop-filter: blur(10px);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.178);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

#todo-form {
  margin-bottom: 5%;
  justify-content: center;
}

#todo-form input {
  outline: none;
  font-family: "Oswald", sans-serif;
  font-size: 150%;
  padding-bottom: 2%;
  width: 20vw;
  text-shadow: 2px 2px 2px gray;
}

#todo-form input::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 150%;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px 2px gray;
}

/*Ul*/
#todo-list {
  width: 80%;
  overflow: scroll;
}

#todo-list::-webkit-scrollbar {
  display: none;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  font-size: 140%;
  margin-bottom: 3%;
  text-shadow: 2px 2px 2px gray;
}

#todo-list li button {
  border: none;
  background: none;
}
