.weather__box {
  margin-top: 3%;
  margin-left: 5%;
  width: 80%;
  height: 11%;
  border-radius: 20px;
  background-color: rgba(66, 66, 60, 0.377);
  backdrop-filter: blur(10px);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.178);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#weather {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 3% 7%;
}

#weather span {
  width: 100%;
  font-family: "Oswald", sans-serif;
  text-shadow: 2px 2px 2px gray;
}

#weather span:first-child {
  font-weight: 500;
  font-size: 130%;
  margin-bottom: 3%;
}

#weather span:last-child {
  font-weight: 900;
  font-size: 170%;
  text-align: end;
}
