@import "reset.css";

/*Body*/
body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.image {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.image > img {
  width: 100vw;
  height: 160%;
  position: relative;
  bottom: 20%;
}

/*Content Display*/
.content {
  position: absolute;
  display: flex;
}
.left {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100vh;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 100vh;
}

/*Log in*/
.hidden {
  display: none;
}
#login-form {
  margin-top: 15px;
}

#login-form input {
  text-align: center;
  padding: 10px;
}

/*Clock*/

/*Quote*/
#quote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 35vw;
}
.quote,
.author {
  color: white;
  font-size: 20px;
}
